/* start css for 3d flipbook */


.portfolio-style-three {
    min-height: 370px;
    border-radius: 5px;
  }
  
  .portfolio-style-three .portfolio-image {
    position: relative;
    overflow: hidden;
    height: 300px;
  }
  
  .portfolio-style-three .portfolio-image img {
    width: 100%;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  
  .portfolio-style-three .portfolio-image .portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
    background-color: rgba(0, 104, 72, 0.8);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
    border-radius: 8px;
  }
  
  .portfolio-style-three .portfolio-image .portfolio-content {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  
    .btn {
      margin-bottom: 10px;
    }
  }
  
  .portfolio-style-three .portfolio-image .portfolio-icon {
    position: relative;
    display: inline-block;
    margin: 0 5px;
  }
  
  .portfolio-style-three .portfolio-image .portfolio-icon a {
    color: var(--white);
    position: relative;
    z-index: 5;
    text-align: center;
    background-color: #006848;
    border-radius: 8px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  
  .portfolio-style-three .portfolio-image .portfolio-icon a:hover {
    background-color: #006848;
  }
  
  .portfolio-style-three .portfolio-text {
    padding-top: 16px;
  }
  
  .portfolio-style-three .portfolio-title a {
    color: #006848;
    font-size: 24px;
    line-height: 30px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .portfolio-style-three .portfolio-title a {
      font-size: 20px;
    }
  }
  
  @media (max-width: 767px) {
    .portfolio-style-three .portfolio-title a {
      font-size: 20px;
    }
  }
  
  .portfolio-style-three .text {
    color: #006848;
    margin-top: 8px;
  }
  
  .portfolio-style-three:hover .portfolio-overlay {
    opacity: 1;
    visibility: visible;
  }
  
  .fb3d-modal.visible {
    z-index: 9999;
  }
  
  /* end css for 3d flipbook */